.nav-mobile {
  width: 65%;
  height: 100vh;
  z-index: 10;
  position: absolute;
  background-color: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  right: 0;
  padding-left: 1rem;
}

.nav-mobile-container {
  display: flex;
  justify-content: flex-end;
}

.close-nav {
  margin-top: 2rem;
}

.close-nav img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.nav-links-mobile {
  color: white;
  padding-top: 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 2rem;
  font-size: 1.25rem;
}
