.crew-container {
  color: white;
  width: 100vw;
  height: 100vh;
  background-image: url(../../assets/crew/background-crew-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}

.crew-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crew-display-header {
  padding: 1rem 0;
  font-size: 1.15rem;
  letter-spacing: 0.25rem;
}

.crew-divider {
  width: 90%;
  height: 1px;
  background-color: gray;
}

.crew-member {
  width: 60%;
  height: 15rem;
}

.crew-member-navigation {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
}

.crew-member-navigation ul {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1.25rem;
}

.crew-member-navigation ul li {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 10px;
}

.inactive-link {
  background-color: gray;
}

.active-link {
  background-color: white;
}

.crew-member-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member-role {
  color: gray;
  font-size: 1rem;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
}

.member-name {
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.member-bio {
  text-align: center;
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
  color: #d0d6f9;
}

@media (min-width: 567.98px) {
}

@media (min-width: 767.98px) {
  .crew-container {
    background-image: url(../../assets/crew/background-crew-tablet.jpg);
  }

  .crew-display-header {
    /* order: 0; */
    font-size: 1.5rem;
    padding: 2rem;
  }

  .crew-member-navigation {
    order: 1;
    margin-top: 0;
    display: flex;
    align-items: center;
  }

  .crew-member-navigation ul {
    padding: 0.75rem 0;
    width: 20%;
  }

  .crew-member-info {
    order: 0;
  }

  .crew-member {
    order: 1;
    height: 30rem;
  }

  .crew-ux {
    order: 0;
    display: flex;
    flex-direction: column;
  }

  .crew-divider {
    display: none;
  }

  .member-role {
    font-size: 2rem;
  }

  .member-name {
    font-size: 3rem;
  }

  .member-bio {
    font-size: 1.25rem;
    line-height: 1.8;
    padding: 1rem 7rem;
  }
}

@media (min-width: 991.98px) {
  .crew-container {
    background-image: url(../../assets/crew/background-crew-desktop.jpg);
  }

  .crew-content-container {
    flex-wrap: wrap;
    height: 80%;
    align-items: start;
    padding-left: 10%;
  }

  .crew-member {
    width: auto;
    height: 70%;
    overflow: hidden;
  }

  .crew-member-info {
    align-items: start;
  }

  .member-bio {
    padding: 1rem 0;
    width: 80%;
    text-align: left;
  }

  .crew-display-header {
    padding: 0;
  }

  .crew-ux {
    width: 50%;
    height: 80%;
    justify-content: space-around;
  }

  .crew-member-navigation {
    justify-content: start;
  }

  .crew-member-navigation ul {
    justify-content: space-between;
    width: 25%;
  }

  .crew-member-navigation ul li {
    width: 1rem;
    height: 1rem;
  }

  .crew-member-navigation ul li:hover {
    background-color: white;
    transition: all ease-in-out 0.15s;
    cursor: pointer;
  }
}

@media (min-width: 1199.98px) {
  .crew-member {
    height: auto;
  }
}
