@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./pages/home/home.css";
@import "./components/layout/navbar/navbar.css";
@import "./components/layout/mobileNav/mobileNav.css";
@import "./pages/destination/destination.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 4px solid white;
}

.active-destination {
  border-bottom: 4px solid white;
}

.active-mobile {
  border-right: 8px solid white;
}

.link:hover {
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 4px solid rgba(255, 255, 255, 0.5);
}

.link-mobile:hover {
  border-right: 8px solid rgba(255, 255, 255, 0.5);
}
